Cell -1 Code :

In [62]:
𝒑𝒓𝒊𝒏𝒕("𝑯𝒆𝒍𝒍𝒐 𝑺𝒕𝒖𝒅𝒆𝒏𝒕! 👋 𝑺𝒖𝒑𝒆𝒓𝒎𝒂𝒏 𝑺𝒆𝒔𝒔𝒊𝒐𝒏 𝑷𝒓𝒐𝒋𝒆𝒄𝒕 1 শুরু হলো")

𝑯𝒆𝒍𝒍𝒐 𝑺𝒕𝒖𝒅𝒆𝒏𝒕! 👋 𝑺𝒖𝒑𝒆𝒓𝒎𝒂𝒏 𝑺𝒆𝒔𝒔𝒊𝒐𝒏 𝑷𝒓𝒐𝒋𝒆𝒄𝒕 1 শুরু হলো

Cell -2 Code :

In [63]:
student = {
    "name": "Jahid",
    "Math": 82,
    "English": 70,
    "Science": 95
}

print(student)
print(student["name"])
print(student["Science"])

{'name': 'Jahid', 'Math': 82, 'English': 70, 'Science': 95}
Jahid
95

Cell 3 Code :

In [64]:
students = [
    {"name": "Jahid", "Math": 82, "English": 70, "Science": 95},
    {"name": "Fardin", "Math": 90, "English": 85, "Science": 74},
    {"name": "Meem", "Math": 72, "English": 81, "Science": 88}
]

𝒑𝒓𝒊𝒏𝒕("মোট স্টুডেন্ট:", 𝒍𝒆𝒏(𝒔𝒕𝒖𝒅𝒆𝒏𝒕𝒔))
𝒑𝒓𝒊𝒏𝒕(𝒔𝒕𝒖𝒅𝒆𝒏𝒕𝒔)

মোট স্টুডেন্ট: 3
[{'name': 'Jahid', 'Math': 82, 'English': 70, 'Science': 95}, {'name': 'Fardin', 'Math': 90, 'English': 85, 'Science': 74}, {'name': 'Meem', 'Math': 72, 'English': 81, 'Science': 88}]

Cell 4 Code :

In [65]:
for s in students:
    s["Total"] = s["Math"] + s["English"] + s["Science"]

for s in students:
    print(s["name"], "→ total:", s["Total"])

Jahid → total: 247
Fardin → total: 249
Meem → total: 241

Cell 5 Code :

In [66]:
highest = -1
topper_name = ""

for s in students:
    if(s["Total"] > highest):
        highest = s["Total"]
        topper_name = s["name"]

print("Topper:", topper_name, "with", highest, "marks")

Topper: Fardin with 249 marks

Cell 6 Code :

In [67]:
for s in students:
    print("-----Report Card-----")
    print("Name:", s["name"])
    print("Math:", s["Math"])
    print("English:", s["English"])
    print("Science:", s["Science"])
    print("Total:", s["Total"])
    print("-------------------\n")

print("Overall topper →", topper_name, "with", highest, "marks")

-----Report Card-----
Name: Jahid
Math: 82
English: 70
Science: 95
Total: 247
-------------------

-----Report Card-----
Name: Fardin
Math: 90
English: 85
Science: 74
Total: 249
-------------------

-----Report Card-----
Name: Meem
Math: 72
English: 81
Science: 88
Total: 241
-------------------

Overall topper → Fardin with 249 marks